Resources:
  ClusterSampleAppNodeTable:
    Type: AWS::DynamoDB::Table
    Properties:
      AttributeDefinitions:
      - AttributeName: "NODE_ID"
        AttributeType: "S"
      KeySchema:
      - AttributeName: "NODE_ID"
        KeyType: "HASH"
      ProvisionedThroughput:
        ReadCapacityUnits: 5
        WriteCapacityUnits: 5
      TableName: "CLUSTER_SAMPLE_APP_NODE"